@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500&family=Noto+Sans+TC:wght@300;400;500&family=Noto+Sans:wght@400;700&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: #000;
    font-family: 'Spartan', 'Noto Sans','Noto Sans SC','Noto Sans TC',sans-serif;
}
#info1{
    padding:36px;
}
h1{
    font-family: inherit;
    font-size: 2.4em;
    line-height: 1.8em;
    font-weight: 600;
    color:#fff;
}
#next{
  position: relative;
  margin:12px 0px 0px 36px;
  bottom:24px;
}
span{
  font-family: inherit;
  font-size: 0.8em;
  color:#fff;
  opacity: 0.6;
  text-decoration: none;
  cursor: pointer;
}

h3{
    font-family: inherit;
    font-size: 1em;
    line-height: 1.6em;
    font-weight: 300;
    color:#fff;
}
h4{
    font-family: inherit;
    font-size: 0.9em;
    line-height: 1.6em;
    font-weight: 300;
    color:#fff;
    opacity: 0.6;
}
img{
    height:300px;
    width:100%;
    object-fit: cover;
}
body { 
   opacity: 0;
   transition: opacity .3s;
}